html{
  font-size: 120px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 20px;
}
.pc, .tablet, .mobile{
  display: none;
}

@media (min-width: 1024px){
  .pc{
    display: block;
  }
}
@media (min-width: 740px) and (max-width: 1023px){
  .tablet{
    display: block;
  }
}
@media (max-width: 739px){
  .mobile{
    display: block;
  }
}